body {
  background-image: url("../images/colourfulpic.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar-inverse {
  background-color: rgba(32, 35, 41, 0);
  border: 1px solid transparent;
}
.navbar-inverse .navbar-brand {
  font-family: 'Poppins', cursive;
  font-size: 25px;
  color: #ffae42;
}
h1 {
  color: black;
  font-size: 45px;
  font-family: 'Poppins', cursive;
  border: 1px solid transparent;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.navbar-nav {
  font-size: 15px;
  font-family: 'Poppins', cursive;
}
.navbar-inverse .navbar-nav .menu-aboutus {
  color: blue;
}
.navbar-inverse .navbar-nav .menu-ourmission {
  color: red;
}
.navbar-inverse .navbar-nav .menu-contactus {
  color: #7FFF00;
}
.col-md-2 {
  position: relative;
  display: block:run-in;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 150px;
}
* {
  box-sizing: border-box;
}

.formgroup {
  width: 300px;
  margin-left: 200px;
  text-align: center;
  font-family: 'Poppins';
  background-color: #FFA500;
}
.btn-secondary {
  margin-left: 0;
  font-family: 'Poppins';

}
.formgroup {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  margin-top: 75px;
}
.dogpic {
  height: 150px;
  width: 150px;
}
#dogpic1 {
  float: left;
}
#dogpic2 {
  float: right;
}
img {
  border-radius: 50%;
  margin-left: 50px;
}
 h2 {
   color: black;
   font-family: 'Poppins';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%) translateY(-50%);
   margin-top: 200px;
   text-align: center;
 }
.mrmen {
  float: center;
  text-align: center;
}

#buzz {
  color: black;
  font-family: 'Poppins', cursive;
  font-size: 15px;
}
