.jumbatron {
  background-iamge: url("../images/colourful.jpg");
  background-size: cover;
}
title {
  color: yellow;
  font-size: 160px;
  font-family: 'Poppins';
}
body {
  background-image: "images/colourful.jpg";
}
.navbar-inverse {
  background-color: rgba(32, 35, 41, 0)
}
